/* Fonts */

/* 
font-family: 'Big Shoulders Stencil Text', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100;200;300;400;500;600;700;800;900&family=Dancing+Script:wght@400;500;600;700&family=Nunito:wght@200;300;400;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* My css */
:root {
  --red: #fb5544;
  --white: #f5f5f5;
  --black: #252525;
  --gray: #dadee1;
  --blue: #0c86ef;
  --lightBlue: #87cefa;
  --lightGreen: #90ee90;
  --textShadow1: 1px 1px 3px #fb5544;
  --textShadow2: 1px 1px 3px #f5f5f5;
  --textShadow3: 1px 1px 3px #252525;
  --textShadow4: 1px 1px 3px #0c86ef;
  --textShadow5: 1px 1px 3px #87cefa;
  --textShadow6: 1px 1px 3px #90ee90;
  --gradient1: linear-gradient(135deg, #d41e31, #491f8f);
  --gradient2: radial-gradient(
    circle,
    rgba(37, 37, 37, 1) 0%,
    rgba(218, 222, 225, 1) 90%
  );
  --gradient3: linear-gradient(90deg, #9400d3, #00ff00, #ffff00, #ff0000);
  --w12k: 1200px;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  /* overflow-y: hidden;
  overflow-x: hidden; */
}
body {
  font-size: 2rem;
  background: linear-gradient(-45deg, #fcfc,#cd4f4f, rgb(152, 103, 159), #e9dbff, #c1ffe1, rgb(237, 228, 228), #b2edff,#000);
  background-size: 400% 400%;
  animation: gradient 60s ease infinite;
  display: flex;
}

.container {
  // header
  header.header-nav  {
      font-family: 'Open Sans', sans-serif;
      background-color: rgba(193, 255, 225, 0.25);
      margin-block: 24px;
      padding-block: 16px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
      border-radius: 5px;
      .nav-right {
        .profile {
          display: inline-block;
          padding-inline: 16px;
          font-size: 3rem;
          font-weight: bold;
          &:hover {
            // opacity: 0.05;
            transition: all 0.3s;
          }
          // &:active {
          //   opacity: 0.1;
          //   transition: all 0.1s;
          // }
          .profile-btn,
          .profile-btn:after {
            width: 150px;
            height: 76px;
            line-height: 78px;
            font-size: 2rem;
            font-family: 'Bebas Neue', sans-serif;
            background: linear-gradient(45deg, transparent 5%, rgba(0, 0, 0, 0.8) 5%);
            border: 0;
            color: #fff;
            letter-spacing: 3px;
            box-shadow: 6px 0px 0px rgba(216, 112, 147, 0.25);
            outline: transparent;
            position: relative;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            cursor: pointer;
          }
          .profile-btn:after {
            --slice-0: inset(50% 50% 50% 50%);
            --slice-1: inset(80% -6px 0 0);
            --slice-2: inset(50% -6px 30% 0);
            --slice-3: inset(10% -6px 85% 0);
            --slice-4: inset(40% -6px 43% 0);
            --slice-5: inset(80% -6px 5% 0);
            
            content: 'ALTERNATE TEXT';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(45deg, transparent 3%, #fff 3%, #fcfcfc 5%, #ccc 5%);
            text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #c1ffe1;
            clip-path: var(--slice-0);
          }

          .profile-btn:hover:after {
            animation: 1s glitch;
            animation-timing-function: steps(2, end);
          }

          @keyframes glitch {
            0% {
              clip-path: var(--slice-1);
              transform: translate(-20px, -10px);
            }
            10% {
              clip-path: var(--slice-3);
              transform: translate(10px, 10px);
            }
            20% {
              clip-path: var(--slice-1);
              transform: translate(-10px, 10px);
            }
            30% {
              clip-path: var(--slice-3);
              transform: translate(0px, 5px);
            }
            40% {
              clip-path: var(--slice-2);
              transform: translate(-5px, 0px);
            }
            50% {
              clip-path: var(--slice-3);
              transform: translate(5px, 0px);
            }
            60% {
              clip-path: var(--slice-4);
              transform: translate(5px, 10px);
            }
            70% {
              clip-path: var(--slice-2);
              transform: translate(-10px, 10px);
            }
            80% {
              clip-path: var(--slice-5);
              transform: translate(20px, -10px);
            }
            90% {
              clip-path: var(--slice-1);
              transform: translate(-10px, 0px);
            }
            100% {
              clip-path: var(--slice-1);
              transform: translate(0);
            }
          }

          @media (min-width: 768px) {
            .profile-btn,
            .profile-btn:after {
              width: 200px;
              height: 86px;
              line-height: 88px;
            }
          }
          .profile-card {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 500px;
            width: 900px;
            transform: translate(-50%,-50%);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            border-radius: 10px;
            overflow: hidden;
            z-index: 100;
            .card {
            background-size: cover;
            height: 80%;
            width: 80%;
            margin: auto;
            padding: 40px;
            position: relative;
            color: #fff;
            transition: transform 0.1s ease;
            transform-style: preserve-3d;
            will-change: transform;

            }

            /* Slight parallax effect on hover */
            .card:hover .content {
              transform: translateZ(12px);
            }

            /* Darker layer to make text more readable */
            .card::before {
              content: "";
              background: rgba(0, 0, 0, 0.8);
              position: absolute;
              height: 100%;
              width: 100%;
              left: 0;
              right: 0;
              top: 15%;
              bottom: 0;
              border-radius: 10px;
            }

            .content {
              display: flex;
              position: relative;
              z-index: 101;
              transition: transform 0.3s ease;
              padding-inline: 16px;
              top: 15%;
              left: 2%;
              &-selfie {
                transform: scale(2);
              }
              h2 {
                position: absolute;
                left: -5%;
                bottom: -90%;
                font-size: 3.5rem;
                text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
                color: var(--white);
              }
              &-info {
                position: absolute;
                margin-left: 20%;
                background-color: rgba(245, 245, 245, 0.95);
                height: max-content;
                width: 90%;
                border-radius: 5px;
                color: black;
                padding: 16px;
                p {
                  font-size: 2.1rem;
                  font-weight: lighter;
                  span {
                    font-weight: bold;
                  }
                }
              }
            }
            
          }
          &:hover .profile-card {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .nav-left {
        align-content: space-around;
        justify-content: flex-end;
        &--item {
          a{
            transition: all 0.2s;
            height: 100%;
            width: 100%;
            padding: 12px;
            padding-inline: 16px;
            border-radius: 25px;
            text-decoration: none;
            text-align: center;
            color: #000;
            text-transform: capitalize;
            font-weight: bold;
            &:hover {
            // border: 1px solid rgba(0, 0, 0, 0.5);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
            font-weight: bold;
            opacity: 0.7;
            }
            &:active {
              box-shadow: none;
            }
          }
        }
      }
  }
  section.content-nav {
    .nav-menu {
      align-items: center;
      justify-content: center;
      &--item {
        padding-inline: 12px;
        padding-block: 4px;
        margin-block: 16px;
          .menu-btn {
            background-color: rgba(0, 0, 0, 0.8);
            border: 0 solid #E5E7EB;
            box-sizing: border-box;
            color: var(--white);
            display: flex;
            font-size: 2rem;
            font-weight: 700;
            justify-content: center;
            line-height: 2.75rem;
            padding: 1.75rem 2.65rem;
            position: relative;
            text-align: center;
            text-decoration: none #000000 solid;
            text-decoration-thickness: auto;
            width: 100%;
            max-width: 560px;
            position: relative;
            cursor: pointer;
            transform: rotate(-2deg);
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            text-transform: capitalize;
            &:hover {
            transform: rotate(0deg);
            background-color: rgba(255, 255, 255, 0.5);
            color: black;
            transition: all 0.2s;
          }
          &.active {
            transition: all 0.05s;
            transform: scale(0.95);
            background-color: var(--white);
            color: var(--black);
          }
          }

          .menu-btn:focus {
            outline: 0;
          }

          .menu-btn:after {
            content: '';
            position: absolute;
            border: 1.5px solid #000;
            bottom: 4px;
            left: 4px;
            width: calc(100% - 1px);
            height: calc(100% - 1px);
          }

          .menu-btn:hover:after {
            bottom: 2px;
            left: 2px;
            
          }
          

          @media (min-width: 768px) {
            .menu-btn {
              padding: .75rem 3rem;
              font-size: 2.25rem;
            }
          }
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// Tab item & content
section.tab-content {
  display: none;

  &.active {
    display: block;
    max-height: 65vh;
    height: 100vh;
    width: 1200px;
    background-color: var(--lightBlue);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 12px;
    position: relative; /* Thêm position: relative */

    .wrapper {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      padding: 50px;
      background-color: #f5f5f5;
      border-radius: 12px;
      box-shadow: 0 30px 50px #dbdbdb;
      
      /* Xóa max-height và max-width của .wrapper */
      
      #slide {
        width: max-content;
        border-radius: 20px;
        margin-top: 50px;
      }
      
      .item {
        width: 200px;
        height: 300px;
        background-position: 50% 50%;
        display: inline-block;
        transition: 0.5s;
        background-size: cover;
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 12px;
        box-shadow: 0 30px 50px #505050;
        border-radius: 12px;

        &::after{
          content: "";
          position: absolute;
          left: 0;right: 0;top: 0;bottom: 0;
          background-color: #000;
          opacity: .5;
          border-radius: 12px;

        }
        
        &:nth-child(1),
        &:nth-child(2) {
          left: 0;
          top: 0;
          transform: translate(0, 0);
          border-radius: 12px;
          width: 100%;
          height: 100%;
          box-shadow: none;
          
        }

        &:nth-child(3) {
          left: 50%;
          &::after{
          content: "";
          position: absolute;
          left: 0;right: 0;top: 0;bottom: 0;
          background-color: unset;
        }
          
        }

        &:nth-child(4) {
          left: calc(50% + 220px);
          &::after{
          content: "";
          position: absolute;
          left: 0;right: 0;top: 0;bottom: 0;
          background-color: unset;
        }
        }

        &:nth-child(5) {
          left: calc(50% + 440px);
          &::after{
          content: "";
          position: absolute;
          left: 0;right: 0;top: 0;bottom: 0;
          background-color: unset;
        }
        }

        &:nth-child(n + 6) {
          left: calc(50% + 660px);
          &::after{
          content: "";
          position: absolute;
          left: 0;right: 0;top: 0;bottom: 0;
          background-color: unset;
        }
          opacity: 0;
        }
        .content {
          position: absolute;
          top: 50%;
          left: 100px;
          width: 300px;
          text-align: center;
          padding: 4px 12px;
          color: #eee;
          transform: translate(0, -50%);
          display: none;
          font-family: system-ui;
          &::after{
            content: "";
            background-color: #000000;
            position: absolute;
            left: -20px;right: -20px;top: -10px;bottom: -10px;
            opacity: .5;
            border-radius: 8px;
            z-index: -1;
          }
        }

        &:nth-child(2) .content {
          display: block;
          z-index: 11111;
        }

        .name {
          font-size: 40px;
          font-weight: bold;
          opacity: 0;
          animation: showcontent 1s ease-in-out 1 forwards;
        }

        .des {
          margin: 20px 0;
          opacity: 0;
          animation: showcontent 1s ease-in-out 0.3s 1 forwards;
        }

        button {
          padding: 10px 20px;
          border: none;
          opacity: 0;
          animation: showcontent 1s ease-in-out 0.6s 1 forwards;
        }
      }

      @keyframes showcontent {
        from {
          opacity: 0;
          transform: translate(0, 100px);
          filter: blur(33px);
        }
        to {
          opacity: 1;
          transform: translate(0, 0);
          filter: blur(0);
        }
      }

      .buttons {
        position: absolute;
        bottom: 30px;
        right: 0;
        margin: 0 30px;
        z-index: 222222;
        text-align: right;
        width: 100%;
        button {
          width: 150px;
          height: 50px;
          border-radius: 20px;
          border: 1px solid rgb(85, 85, 85);
          transition: 0.5s;
          background-color: var(--white);
          cursor: pointer;

          &:hover {
            background-color: #bac383;
          }
        }
      }
    }
  }
}