/* Fonts */

/* 
font-family: 'Big Shoulders Stencil Text', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100;200;300;400;500;600;700;800;900&family=Dancing+Script:wght@400;500;600;700&family=Nunito:wght@200;300;400;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* My css */
:root {
  --red: #fb5544;
  --white: #f5f5f5;
  --black: #252525;
  --gray: #dadee1;
  --blue: #0c86ef;
  --lightBlue: #87cefa;
  --lightGreen: #90ee90;
  --textShadow1: 1px 1px 3px #fb5544;
  --textShadow2: 1px 1px 3px #f5f5f5;
  --textShadow3: 1px 1px 3px #252525;
  --textShadow4: 1px 1px 3px #0c86ef;
  --textShadow5: 1px 1px 3px #87cefa;
  --textShadow6: 1px 1px 3px #90ee90;
  --gradient1: linear-gradient(135deg, #d41e31, #491f8f);
  --gradient2: radial-gradient(
    circle,
    rgba(37, 37, 37, 1) 0%,
    rgba(218, 222, 225, 1) 90%
  );
  --gradient3: linear-gradient(90deg, #9400d3, #00ff00, #ffff00, #ff0000);
}

html {
  background-image: linear-gradient(
    90deg,
    #b2edff 0%,
    #e9dbff 25%,
    #c1ffe1 50%,
    #b2edff 75%,
    #e9dbff 100%
  );
  background-size: cover;
  // background-repeat: no-repeat;
  /*  */
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  /* overflow-y: hidden;
  overflow-x: hidden; */
}

header {
  background-color: rgba(255, 255, 255, 0.9);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
    a {
      font-weight: bolder;
      text-transform: uppercase;
      border: 1.5px solid #87cefa;
      background-color: #0c86ef;
      color: white;
      text-decoration: none;
      padding: 4px;
      border-radius: 25px;
      font-size: 1.3rem;
      &:hover {
        border: 1.5px solid #252525;
      }
    }
  }
}
.nav {
  &-list {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &-item {
    position: relative;
    a {
      color: #252525;
      text-decoration: none;
      text-transform: capitalize;
      padding: 20px;
      font-size: 1.5rem;
    }
    a.active {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: 20px;
        height: 2px;
        width: 10px;
        background-color: #252525;
      }
    }
  }
}

section#about {
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 12px;
  padding: 14px;
 .hero-left {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   margin: 0 auto;
}
  .hero-right {
    padding: 20px 28px;
    .hero {
      &-name, &-skills, &-desc, &-social {
        font-size: 2rem;
        font-weight: bold;
        padding: 4px 0;
        &:nth-child(4) {
          padding: 20px 0;
        }
        &:nth-child(3) {
          margin-top: 20px;
        }
        &:nth-child(4) span{
          display: inline-block;
          margin: 4px;
          padding: 4px;
          height: 100%;
          width: 100%;
          border: 1px double black;
        }
        span {
          font-weight: lighter;
          font-size: 2rem;
          padding-left: 4px;
        }
      }
      &-social {
         &-fb, &-ig, &-zl{
          display: inline-block;
          width: 110px;
          border: 1px solid black;
          text-align: center;
          padding: 4px 0;
          margin-right: 12px;
          cursor: pointer;          
          &:nth-child(1) {
            transition: 0.2s;
            &:hover {
              color: #0c86ef;
              border: 1px solid rgba(12, 133, 239, 0.5);
            }
            &:active {
              transform: scale(0.97);
              opacity: 1;
            }
          }
          &:nth-child(2) {
            transition: 0.2s;
            &:hover {
              color: #fb5544;
              border: 1px solid rgba(251, 86, 68, 0.5);
            }
            &:active {
              transform: scale(0.97);
              opacity: 1;
            }
          }
          &:nth-child(3) {
            transition: 0.2s;
            &:hover {
              color: #87cefa;
              border: 1px solid rgba(135, 206, 250, 0.5);
            }
            &:active {
              transform: scale(0.97);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

section#projects {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 12px;
  height: 400px;
  .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    h2 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 3rem;
      line-height: 3;
    }
    .myProject{

      &-new{
        h3 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2rem;
      line-height: 2;
      color: red;
        }
        .g-4 {
          
        }
      }
      &-item {
        
      }
    }
  }
}
