/* 

Column: .col
Prefix class:
    - c: mobile
    - m: tablet
    - l: pc

*/

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*::selection {
  background-color: transparent;
}
* {
  margin: 0;
}

html {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
  padding: 0;
}
/* 
--------------------------------------
*/

/* My lib */
.grid {
  width: 100%;
  display: block;
  padding: 0;
}
.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}
.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}
.col {
  padding-left: 4px;
  padding-right: 4px;
}
.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}
.c-0 {
  display: none;
}
.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}
.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.c-2-4 {
  flex: 0 0 20%;
  max-width: 20%;
}
.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}
.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* col offset */

.c-o-1 {
  margin-left: 8.33333%;
}
.c-o-2 {
  margin-left: 16.66667%;
}
.c-o-2-4 {
  flex: 0 0 20%;
  max-width: 20%;
}
.c-o-3 {
  margin-left: 25%;
}
.c-o-4 {
  margin-left: 33.33333%;
}
.c-o-5 {
  margin-left: 41.66667%;
}
.c-o-6 {
  margin-left: 50%;
}
.c-o-7 {
  margin-left: 58.33333%;
}
.c-o-8 {
  margin-left: 66.66667%;
}
.c-o-9 {
  margin-left: 75%;
}
.c-o-10 {
  margin-left: 83.33333%;
}
.c-o-11 {
  margin-left: 91.66667%;
}
/* Tablet - PC low resolution */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .wide {
    width: 644px;
  }
}

/* > Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .col {
    padding-left: 8px;
    padding-right: 8px;
  }
  .m-0 {
    display: none;
  }
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }
  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .m-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .m-o-1 {
    margin-left: 8.33333%;
  }
  .m-o-2 {
    margin-left: 16.66667%;
  }
  .m-o-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .m-o-3 {
    margin-left: 25%;
  }
  .m-o-4 {
    margin-left: 33.33333%;
  }
  .m-o-5 {
    margin-left: 41.66667%;
  }
  .m-o-6 {
    margin-left: 50%;
  }
  .m-o-7 {
    margin-left: 58.33333%;
  }
  .m-o-8 {
    margin-left: 66.66667%;
  }
  .m-o-9 {
    margin-left: 75%;
  }
  .m-o-10 {
    margin-left: 83.33333%;
  }
  .m-o-11 {
    margin-left: 91.66667%;
  }
}
/* PC low resolution */
@media (min-width: 1113px) {
  .row {
    margin-left: -6px;
    margin-right: -6px;
  }
  .col {
    padding-left: 6px;
    padding-right: 6px;
  }
  .l-0 {
    display: none;
  }
  .l-1,
  .l-2,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }
  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .l-o-1 {
    margin-left: 8.33333%;
  }
  .l-o-2 {
    margin-left: 16.66667%;
  }
  .l-o-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .l-o-3 {
    margin-left: 25%;
  }
  .l-o-4 {
    margin-left: 33.33333%;
  }
  .l-o-5 {
    margin-left: 41.66667%;
  }
  .l-o-6 {
    margin-left: 50%;
  }
  .l-o-7 {
    margin-left: 58.33333%;
  }
  .l-o-8 {
    margin-left: 66.66667%;
  }
  .l-o-9 {
    margin-left: 75%;
  }
  .l-o-10 {
    margin-left: 83.33333%;
  }
  .l-o-11 {
    margin-left: 91.66667%;
  }
}

/* > PC low resolution */
@media (min-width: 64em) and (max-width: 77.4375em) {
  .wide {
    width: 984px;
  }
  .wide .row {
    margin-left: -6px;
    margin-right: -6px;
  }
  .wide .col {
    padding-left: 6px;
    padding-right: 6px;
  }
  .wide .l-0 {
    display: none;
  }

  .wide .l-0 {
    display: none;
  }
  .wide .l-1,
  .wide .l-2,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
    display: block;
  }
  .wide .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .wide .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .wide .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .wide .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .wide .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .wide .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .wide .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .wide .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .wide .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .wide .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .wide .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .wide .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .wide .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .wide .l-o-1 {
    margin-left: 8.33333%;
  }
  .wide .l-o-2 {
    margin-left: 16.66667%;
  }
  .wide .l-o-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .wide .l-o-3 {
    margin-left: 25%;
  }
  .wide .l-o-4 {
    margin-left: 33.33333%;
  }
  .wide .l-o-5 {
    margin-left: 41.66667%;
  }
  .wide .l-o-6 {
    margin-left: 50%;
  }
  .wide .l-o-7 {
    margin-left: 58.33333%;
  }
  .wide .l-o-8 {
    margin-left: 66.66667%;
  }
  .wide .l-o-9 {
    margin-left: 75%;
  }
  .wide .l-o-10 {
    margin-left: 83.33333%;
  }
  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
}

/* 
--------------------------------------
*/
/* Con lăn */
.scroll {
  overflow: scroll;
  overflow-y: display;
  overflow-x: hidden;
  scrollbar-width: thin;
}
.scroll::-webkit-scrollbar {
  width: 10px;
}
.scroll::-webkit-scrollbar-track {
  background-color: transparent;
}
.scroll::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.75) 25%,
    rgba(204, 204, 204, 0.25) 80%
  );
  box-shadow: inset 2px 2px 5px 0 rgba(204, 204, 204, 0.5);
}

/* Nút Close */
.btn--close {
  height: 40px;
  width: 72px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #000000;
}
.btn--close:hover {
  background-color: #000000;
  color: #f5f5f5;
}
.btn--close:active {
  transform: translateY(3px);
  background-color: transparent;
  opacity: 0.9;
}

img {
  object-fit: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  display: block;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

/* General Class */
.openBlock {
  display: block !important;
}
.hideBlock {
  display: none;
}
.openFlex {
  display: flex !important;
}
.openGrid {
  display: grid !important;
}

/* Animation  */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  80% {
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hoverItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




/*! lightslider - v1.1.3 - 2015-04-14
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */
/** /!!! core css Should not edit !!!/**/ 

.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.lightSlider:before, .lightSlider:after {
    content: " ";
    display: table;
}
.lightSlider {
    overflow: hidden;
    margin: 0;
}
.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.lSSlideWrapper > .lightSlider:after {
    clear: both;
}
.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade {
    position: relative;
}
.lSSlideWrapper .lSFade > * {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade > *.active {
    z-index: 10;
}
.lSSlideWrapper.usingCss .lSFade > *.active {
    opacity: 1;
}
/** /!!! End of core css Should not edit !!!/**/

/* Pager */
.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
	display: none;
	
}
.lSSlideOuter .lSPager.lSpg > li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}
.lSSlideOuter .lSPager.lSpg > li a {
    background-color: #222222;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: #428bca;
}
.lSSlideOuter .media {
    opacity: 0.8;
}
.lSSlideOuter .media.active {
    opacity: 1;
}
/* End of pager */

/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
    transition: border-radius 0.12s linear 0s 0.35s linear 0s;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 5px;
}
.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table;
}
.lSSlideOuter .lSPager.lSGallery:after {
    clear: both;
}
/* End of Gallery*/

/* slider actions */
.lSAction > a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    background-image: url('../img/controls.png');
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.5;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}
.lSAction > a:hover {
    opacity: 1;
}
.lSAction > .lSPrev {
    background-position: 0 0;
    left: 10px;
}
.lSAction > .lSNext {
    background-position: -32px 0;
    right: 10px;
}
.lSAction > a.disabled {
    pointer-events: none;
}
.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}


/* vertical */
.lSSlideOuter.vertical {
    position: relative;
}
.lSSlideOuter.vertical.noPager {
    padding-right: 0px !important;
}
.lSSlideOuter.vertical .lSGallery {
    position: absolute !important;
    right: 0;
    top: 0;
}
.lSSlideOuter.vertical .lightSlider > * {
    width: 100% !important;
    max-width: none !important;
}

/* vertical controlls */
.lSSlideOuter.vertical .lSAction > a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0;
}
.lSSlideOuter.vertical .lSAction > .lSNext {
    background-position: 31px -31px;
    bottom: 10px;
    top: auto;
}
.lSSlideOuter.vertical .lSAction > .lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 10px;
}
/* vertical */


/* Rtl */
.lSSlideOuter.lSrtl {
    direction: rtl;
}
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none;
}
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
    padding-right: 0;
}
.lSSlideOuter .lightSlider > *,  .lSSlideOuter .lSGallery li {
    float: left;
}
.lSSlideOuter.lSrtl .lightSlider > *,  .lSSlideOuter.lSrtl .lSGallery li {
    float: right !important;
}
/* Rtl */

@-webkit-keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@-webkit-keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
@keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd 0.3s;
    animation: topEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd 0.3s;
    animation: bottomEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
/*/  GRab cursor */
.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}
