@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* Test Background */
html {
  background: url(../images/bg-demo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

:root {
  --primary: #fb5544;
  --white: #dadee1;
  --black: #252525;
  --gray: rgba(68, 68, 68, 0.85);
  --lightBlue: #87cefa;
  --lightGreen: #90ee90;
  --textShadow1: 1px 1px 3px #fb5544;
  --textShadow2: 1px 1px 3px #252525;
  --textShadow3: 1px 1px 3px #dadee1;
  --textShadow4: 1px 1px 3px #87cefa;
  --gradient1: linear-gradient(135deg, #d41e31, #491f8f);
  --gradient2: radial-gradient(
    circle,
    rgba(37, 37, 37, 1) 0%,
    rgba(218, 222, 225, 1) 90%
  );
  --gradient3: linear-gradient(90deg, #9400d3, #00ff00, #ffff00, #ff0000);
}

/* Reset CSS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: transparent;
}

html {
  font-size: 62.5%;
  line-height: 1rem;
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}

body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  display: block;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* General Class */
.openBlock {
  display: block !important;
}
.openFlex {
  display: flex !important;
}
.openGrid {
  display: grid !important;
}
.hideBlock {
  display: none;
}

/* Nội dung trang chủ */
#container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  max-height: 600px;
  background: radial-gradient(ellipse at top, rgba(0, 0, 0, 0.75), transparent),
    radial-gradient(ellipse at bottom, rgba(0, 0, 0, 0.5), transparent),
    radial-gradient(ellipse at left, #000, transparent);
  border: 1.5px solid rgba(139, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 25%) 4px 8px 24px;
  animation: moveInTop 0.15s linear 0.3s;
  animation-fill-mode: backwards;
  cursor: default;
}
#container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  background-color: var(--black);
  opacity: 0.25;
  z-index: -9999;
}

/* Nút tìm kiếm */
/* 
  <div class="search">
     <ion-icon name="search-outline"></ion-icon>
  </div> */
.search {
  position: absolute;
  top: 50%;
  right: calc(72px + 26px);
  height: 36px;
  width: 36px;
  transform: translateY(-50%);
  background-color: var(--white);
  font-size: 2rem;
  border-radius: 50%;
  overflow: hidden;
}
.search:active {
  transform: translateY(-43%);
}
.search:hover {
  background-color: var(--primary);
}
.search:hover > ion-icon {
  color: var(--white);
}
.search ion-icon {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--black);
}
/* Nút Close */
.btn--close {
  height: 40px;
  width: 72px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
}
.btn--close:hover {
  background-color: var(--primary);
  color: var(--white);
}
.btn--close:active {
  transform: translateY(3px);
  background-color: var(--primary);
  opacity: 0.9;
}

/* Con lăn */
.scroll {
  overflow: scroll;
  overflow-y: display;
  overflow-x: hidden;
  scrollbar-width: thin;
}
.scroll::-webkit-scrollbar {
  width: 10px;
}
.scroll::-webkit-scrollbar-track {
  background-color: transparent;
}
.scroll::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.75) 25%,
    rgba(204, 204, 204, 0.25) 80%
  );
  box-shadow: inset 2px 2px 5px 0 rgba(204, 204, 204, 0.5);
}
/* Animation  */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  80% {
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes movecontent {
  0% {
    opacity: 0;
    transform: translate(0);
    width: 512px;
  }
  100% {
    opacity: 1;
    transform: translateY(-25%);
    width: calc(100%);
  }
}

@keyframes activeItem {
  0% {
    width: 4px;
  }
  80% {
    width: 35px;
  }
}
@keyframes hoverItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
